.lightMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s ease-in-out;
}
.btn {
    position: absolute;
    left: 2.5%;
    top: 4%;
    cursor: pointer;
    z-index: 2;
}
.img1, .img2,
.img3, .img4 {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.img1 {
    background: url('../../resources/drive.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img2 {
    background: url('../../resources/twitter.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img3 {
    background: url('../../resources/netflix.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.img4 {
    background: url('../../resources/gmailLogo.png');
    background-size: cover;
    background-repeat: no-repeat;
}