.line {
    height: 2.5%;
    width: 100%;
    font-size: 11px;
    background-color: black;
    color: white;
}
.main {
    height: 97.5%;
    width: 100%;
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divMain {
    width: 98.5%;
    height: 98%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects {
    width: 40%;
    height: 100%;
    background-color:rgb(48, 43, 43);
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    background: url('../../resources/projects/bg-project.webp') center;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainProjects {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}
.personalProjects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.titleProjects {
    color: white;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.subtitleProject {
    color: white;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.divFiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.files {
    width: 90px;
    height: 60px;
    background-color: #ead975;
    border-radius: 1px 10px 1px 1px;
    position: relative;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}
.files::before {
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
    background-color:#ead975;
    top: -11px;
    left: 0;
    height: 10px;
    width: 35px;
    transform: scaleY(-1);
    border: 1px solid black;
}
.logos {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 300px;  
    height: 150px; 
    background-color: rgb(27, 26, 26);
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.card p {
    z-index: 1;
    color: white;
    font-size: 2em;
    text-align: center;
}

.card::before {
    content: '';
    position: absolute;
    width: 130%; 
    background-image: linear-gradient(180deg, rgb(3, 21, 122), rgb(159, 24, 159));
    height: 100px; 
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    transform: translateY(-25%); 
}
.bg {
    width: 95%;
    background-color: rgba(240, 239, 239, 0);
    height: 80%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
}
@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background-color: rgb(27, 26, 26);
    inset: 3px;
    border-radius: 15px;
}
  
.selector {
    height: 200px;
    width: 200px;
}
.projectSelection {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}
.btnBack {
    display: none;
}
.linkBtn {
    position: absolute;
    right: 0;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .projects {
        width: 37.5%;
    }
    .project {
        width: 62.5%;
    }
    .personalProjects {
        gap: 40px;
    }
    .titleProjects {
        font-size: 17px;
    }
    .files {
        width: 70px;
        height: 45px;
    }
    .files::before {
        top: -9.5px;
        height: 8px;
        width: 30px;
    }
    .logos {
        height: 23px;
        width: 23px;
    }
    .subtitleProject {
        font-size: 10px;
    }
    .card {
        width: 250px;  
        height: 130px; 
    }
    .card p {
        font-size: 1.3em;
    }
    .selector {
        height: 150px;
        width: 150px;
    }
}
@media (max-width: 768px) {
    .btnBack{
        display: block;
        z-index: 3;
        font-size: 10px;
        transition: all .3s ease-in;
    }
    .btnBack:hover {
        background-color: red;
    }
    .projects {
        width: 35%;
    }
    .project {
        width: 65%;
    }
}
@media (max-width: 480px) {
    .line {
        font-size: 9px;
    }
    .btnBack{
        font-size: 7px;
        padding: 0.5px 3px;
    }
    .divMain {
        flex-direction: column;
    }


    .projects {
        height: 37.5%;
        width: 100%;
    }
    .project {
        height: 62.5%;
        width: 100%;
    }
    .personalProjects {
        gap: 20px;
    }
    .titleProjects {
        font-size: 14px;
    }
    .files {
        width: 55px;
        height: 30px;
    }
    .files::before {
        top: -6.5px;
        height: 5px;
        width: 15px;
    }
    .logos {
        height: 15px;
        width: 15px;
    }
    .subtitleProject {
        font-size: 9px;
    }
    .card {
        width: 200px;  
        height: 100px; 
    }
    .card p {
        font-size: 1.1em;
    }
    .selector {
        height: 120px;
        width: 120px;
    }
}
@media (max-width: 320px){
    .btnBack{
        font-size: 5.5px;
    }
    .files {
        width: 45px;
        height: 25px;
    }
    .files::before {
        top: -5.5px;
        height: 4px;
        width: 12px;
    }
    .titleProjects {
        font-size: 12px;
    }
    .subtitleProject {
        font-size: 7px;
    }
    .logos {
        height: 12px;
        width: 12px;
    }
    .card {
        width: 180px;  
        height: 90px; 
    }
    .card p {
        font-size: 0.9em;
    }
    .selector {
        height: 100px;
        width: 100px;
    }
}